body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif !important;
}

@font-face {
  font-family: "HSWinterNoonkott2_0";
  src: url("../src/assets/fonts/HSGyeoulNoonkott2.0-Regular.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
